body {
	background-color: var(--gpsalmostblack);
}
.mainHeader {
	border-bottom: none;
}
button {
	color: var(--gpsmarigold);
	background: var(--gpsalmostblacktransp);
}
button:active {
	background: var(--gpsmarigold);
	color: var(--gpsalmostblack);
}
.heroImage {
	top: 20%;
	margin-top: 10px;
	padding: .5em;
	background-color: var(--gpsalmostblack);
	color: var(--gpssunshine);
	float: right;
	overflow: auto;
}
.heroText {
	width: 20%;
	border-radius: 50px 20px 50px 30px;
	padding: .5em;
	margin-right: .5em;
	float: left;
	top: 20%;
	background-color: var(--gpssunshine);
	color: var(--gpsblue);
	font-size: 2em;
	font-style: italic;
	left: 10%;
	display: inline-block;
	text-align: center;
}
.footerdiv {
	color: var(--gpsmarigolddark);
}


@media only screen and (max-width: 600px) {
ul#mainNav {
		background-color: var(--gpsalmostblacktransp);
	color: var(--gpsmarigolddark);
}
ul#mainNav li {
		background-color: var(--gpsalmostblacktransp);
	color: var(--gpsmarigolddark);
}
ul#mainNav li a:link {
	background-color: var(--gpsalmostblack);
	color: var(--gpsmarigolddark);
}
ul#mainNav li a:visited {
	background-color: var(--gpsalmostblack);
	color: var(--gpsmarigold);
}
ul#mainNav li a:hover {
	color: var(--gpsalmostblack);
	background-color: var(--gpsmarigolddark);
}
ul#mainNav li a:active {
	color: var(--gpsalmostblack);
	background-color: var(--gpsmarigold);
}
.heroImage {
	top: 20%;
	margin: .8em;
	margin-top: .3em;
	margin-bottom: .3em;
	padding: .3em;
	background-color: var(--gpsalmostblack);
	color: var(--gpssunshine);
	overflow: auto;
}
.heroText {
	left: 10%;
	width: 90%;
	margin: .3em;
	padding: .3em;
	background-color: var(--gpsalmostblack);
	color: var(--gpssunshine);
	font-size: 1em;
	font-style: italic;
	text-align: center;
}

.footerdiv {
	font-size: small;
}
}

/* tablets and large phones  */
@media (min-width: 600px) {
ul#mainNav {
	background-color: var(--gpsalmostblack);
}
ul#mainNav li {
	background-color: var(--gpsalmostblack);
	color: var(--gpsmarigolddark);
}
ul#mainNav li a:link {
	background-color: var(--gpsalmostblack);
	color: var(--gpsmarigolddark);
}
ul#mainNav li a:visited {
	background-color: var(--gpsalmostblack);
	color: var(--gpsmarigold);
}
ul#mainNav li a:hover {
	color: var(--gpsalmostblack);
	background-color: var(--gpsmarigold);
}
ul#mainNav li a:active {
	color: var(--gpsalmostblack);
	background-color: var(--gpsmarigold);
}
.heroImage {
	top: 20%;
	margin: .8em;
	margin-top: .3em;
	margin-bottom: .3em;
	padding: .3em;
	background-color: var(--gpsalmostblack);
	color: var(--gpssunshine);
	overflow: auto;
}
.heroText {
	top: 20%;
	width: 20%;
	border-radius: 50px 20px 50px 30px;
	padding: .5em;
	margin-right: .5em;
	float: left;
	background-color: var(--gpssunshine);
	color: var(--gpsblue);
	font-size: 1em;
	font-style: italic;
	left: 10%;
	display: inline-block;
	text-align: center;
}

}

/*  landscape mode */

@media screen and (orientation:landscape) and (min-width:768px) {
ul#mainNav {
	background-color: var(--gpsalmostblack);
}
ul#mainNav li {
	background-color: var(--gpsalmostblack);
	color: var(--gpsmarigolddark);
}
ul#mainNav li a:link {
	background-color: var(--gpsalmostblack);
	color: var(--gpsmarigolddark);
}
ul#mainNav li a:visited {
	background-color: var(--gpsalmostblack);
	color: var(--gpsmarigold);
}
ul#mainNav li a:hover {
	color: var(--gpsalmostblack);
	background-color: var(--gpsmarigold);
}
ul#mainNav li a:active {
	color: var(--gpsalmostblack);
	background-color: var(--gpsmarigold);
}

.heroText {
	width: 20%;
	border-radius: 50px 20px 50px 30px;
	padding: .5em;
	margin-right: .5em;
	float: left;
	top: 20%;
	background-color: var(--gpssunshine);
	color: var(--gpsblue);
	font-size: 1.5em;
	font-style: italic;
	left: 10%;
	display: inline-block;
	text-align: center;
}




}

/* laptops and desktops */

@media screen and (min-width:992px) {
ul#mainNav {
	background-color: var(--gpsalmostblack);
}
ul#mainNav li {
	background-color: var(--gpsalmostblack);
	color: var(--gpsmarigolddark);
}
ul#mainNav li a:link {
	background-color: var(--gpsalmostblack);
	color: var(--gpsmarigolddark);
}
ul#mainNav li a:visited {
	background-color: var(--gpsalmostblack);
	color: var(--gpsmarigold);
}
ul#mainNav li a:hover {
	color: var(--gpsalmostblack);
	background-color: var(--gpsmarigold);
}
ul#mainNav li a:active {
	color: var(--gpsalmostblack);
	background-color: var(--gpsmarigold);
}

.heroText {
	width: 20%;
	border-radius: 50px 20px 50px 30px;
	padding: .5em;
	margin-right: .5em;
	float: left;
	top: 20%;
	background-color: var(--gpssunshine);
	color: var(--gpsblue);
	font-size: 2em;
	font-style: italic;
	left: 10%;
	display: inline-block;
	text-align: center;
}
}

/* extra large monitors */

@media screen and (min-width:1200px) {

}
