@charset "utf-8";
.lightbluebkg {
	background-color: lightblue
}
body {
}
.container .jumbotron {
	background-image: url(../images/sunshineHeader.jpg);
	background-size: cover;
}
.transJumbo {
	background-color: rgba(120,165,233,0.79);
	background-size: 100% auto;
	background-image: url(../url);
}
