@charset "utf-8";
body {
	font-family: source-sans-pro;
	background-image: url(../images/WEB_GettyImages-726856593.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
}
.mainHeader {
	width: 100%;
	position: relative;
	top: 0;
	margin: 0;
	background-image: url(../images/imgUnderConstruction.png);
	border-bottom: none;
	font-family: Trebuchet;
}
.mainHeader h1 {
	position: absolute;
	top: 10%;
	left: 25%;
	margin-top: 0em;
	border-radius: 50px 20px 50px 30px;
	background-color: var(--gpsosunshinedark);
	color: var(--gpsalmostblack);
	font-size: 2em;
	font-style: italic;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}
h1 {
	font-size: x-large;
}
h2 {
	font-style: italic;
}
th {
	font-size: 8px;
}

.about {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	position: relative;
	display: inline-block;
	margin-top: 0px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: var(--gpsalmostblack);
	font-weight: strong;
}
.contact {
	position: relative;
	display: inline-block;
}
input[type=text], select, textarea {
	width: 100%;
	box-sizing: border-box;
	resize: vertical;
}
label {
	display: inline-block;
}
#submit {
	color: var(--gpsblue);
	background-color: var(--gpssunshinedark);
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}
#submit:hover {
	background-color: var(--gpsblue);
	color: var(--gpsgreenleaf);
}
#submit:active {
	color: var(--gpssunshinedark);
	background-color: var(--gpsgreen);
}
#clear {
	color: var(--gpsblue);
	background-color: var(--gpssunshinedark);
	margin-left: 30px;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}
#clear:hover {
	background-color: var(--gpsblue);
	color: var(--gpsgreenleaf);
}
#clear:active {
	color: var(--gpssunshinedark);
	background-color: var(--gpsgreen);
}
#reset {
	color: var(--gpsblue);
	background-color: var(--gpssunshinedark);
	margin-left: 30px;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}
#reset:hover {
	background-color: var(--gpsblue);
	color: var(--gpsgreenleaf);
}
#reset:active {
	color: var(--gpssunshinedark);
	background-color: var(--gpsgreen);
}
.col-01 {
	float: left;
	width: 20%;
}
.col-02 {
	float: left;
	width: 80%;
}
.row:after {
	clear: both;
}
.inputContent {
	margin-left: 3em;
	margin-right: 1em;
	width: 40%;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.5em;
	border-radius: 0.5em;
	float: left;
}
.inputComment {
	margin-left: 3em;
	margin-right: 1em;
	width: 90%;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0.5em;
	border-radius: 0.5em;
	float: left;
}

@media only screen and (max-width: 600px) {
.mainHeader h1 {
	position: static;
	top: 10%;
	left: 25%;
	margin-top: -0.3em;
	font-size: 1em;
}
.mainHeader img {
	width: 4em;
	height: 2em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.about {
	position: relative;
	font-size: small;
	font-weight: bold;
	display: inline-block;
}
}

/* tablets and large phones  */
@media (min-width: 600px) {
.mainHeader h1 {
	position: static;
	top: 10%;
	left: 25%;
	margin-top: -0.3em;
	font-size: 2em;
}
.mainHeader img {
	width: 9em;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.about {
	position: relative;
	font-size: small;
	font-weight: bold;
	display: inline-block;
}
}

/*  landscape mode */

@media screen and (orientation:landscape) and (min-width:768px) {
.mainHeader h1 {
	position: relative;
	left: 10%;
	margin-top: -1em;
	font-size: 2em;
	top: 0.7em;
	display: inline;
}
.mainHeader img {
	width: 9em;
	height: auto;
	display: inline;
	margin-left: auto;
	margin-right: auto;
}
.about {
	font-size: medium;
}
}

@media screen and (min-width:992px) {
.about {
	font-size: large;
}
}
 @media screen and (min-width:1200px): {
 .about {
 font-size: x-large;
}
}
