body {
	margin: 0;
	padding: 0;
	background-color: var( --gpsgreen);
	color: var( --gpssunshine);
	font-family: "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 16px;
}
.mainHeader {
	width: 100%;
	position: relative;
	top: 0;
	margin: 0;
	border-bottom: medium ridge var(--gpsgreenlight);
	background-image: url(../images/sunshineHeader.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: Trebuchet;
}
.mainHeader h1 {
	position: absolute;
	top: 10%;
	left: 25%;
	margin-top: 0em;
	border-radius: 50px 20px 50px 30px;
	background-color: var(--gpsosunshinedark);
	color: var(--gpsalmostblack);
	font-size: 2em;
	font-style: italic;
	text-align: center;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
}
h1 {
	font-size: xx-large;
}
h2 {
	font-style: italic;
}
h3 {
	text-align: center;
}

#hList {
	width: 80%;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0;
	font-family: "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
.table {
	width: 80%;
	display:table;
	margin: 0 auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}
ul#mainNav {
	width: 100%;
	margin: 0 auto;
	font-size: 18px;
	background-color: var(--gpsbluetransp);
	color: var(--gpsmarigolddark);
}
ul#mainNav li {
	padding-left: 1%;
	padding-right: 1%;
	display:inline-block;
}
ul#mainNav li a {
	text-decoration: none;
}
ul#mainNav li a:hover {
	background-color: var(--gpsmarigolddark);
	color: var(--gpsgreen);
}
ul#mainNav li a:active {
	background-color: var(--gpsmarigold);
}
ul#mainNav li .mainHidden {
	width:0.25px;
	height: 0.25px;
	font-size: 0.25px;
}
#mainHidden {
	width:0.25px;
	height: 0.25px;
	font-size: 0.25px;
	display: none;
}
a:active {
	font-style: italic;
	font-weight: bold;
}
a:hover {
	font-weight: bold;
}
button {
	padding: 0;
	border: none;
	color: var(--gpsmarigold);
	background-color: var(--gpsblue);
	font-family: "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 18px;
	cursor: pointer;
}
button:hover {
	background-color: var(--gpsmarigolddark);
	color: var(--gpsblue);
	font-weight: bold;
}
button:active {
	background-color: var(--gpsmarigold);
	font-style: italic;
	font-weight: bold;
}
.main {
	width: 90%;
	margin: 0 auto;
	padding: 10px;
	background-color: var(--gpssunshine);
	color: var(--gpsalmostblack);
}
.nav2 ul {
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	list-style-type: none;
}
.nav2 li {
	margin: 0 auto;
	display: inline-block;
	list-style-type: none;
}

.homeNav {
	width: 100%;
	margin-bottom: 0px;
}
.homeNav ul {
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style-type: none;
}
.homeNav li {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2px;
	border-style: solid;
	border-width: 2px 10px 2px 10px;
	border-radius: 50%;
	text-align: center;
	list-style-type: none;
}

#plantDetails1 {
	background-color: var(--gpssunshinedark);
	display: none;
}
#plantDetails1:hover {
	background-color:  transparent;
	color:  var(--gpstransp1);
}
.inp {
	background-color:  transparent;
}
.inp#plantDetails {	
	position: relative;
	margin-left: -1px;
	margin-right: -1px;
	margin-bottom: -1px;
	border: none;
	border-style: solid;
	border-width: 2px 10px 2px 10px;
	border-radius: 50%;
	padding: 0;
	background-color: transparent;
	border-color: transparent;
	color: var(--gpstransp1);
	cursor: pointer;
	text-align: center;
	list-style-type: none;
	font-size: 16px;
	display: none;
	
}
.inp#plantDetails:hover {
	border-color: var(--gpsgreenlight);
	background-color: var(--gpsblue);
	color:  var(--gpssunshinedark);
	font-weight: bold;
}

.inp#plantDetails:active {
	font-style: italic;
	font-weight: bold;
}

#dVar {
	display: none;
}
.dbselect {
	border: none;
	cursor: pointer;
	font-family: "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 14px;
	font-weight: bold;
}
.dbselect:hover {
	font-weight: bold;
}
.dbselect:active {
	font-style: italic;
	font-weight: bold;
}
.plantType {
	width: 90%;
}

.dbEntries {
	width: 80%;
	height: 80%;
	overflow: auto;
	margin: 0 auto;
	padding: 10px;
	background-color: var(--gpssunshine);
	color: var(--gpsalmostblack);
}
footer {
	font-weight: bold;
	
}
.footerdiv {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: fixed;
	bottom: -3px;
}
.footerleft {
	width: 20%;
	display: inline-block;
	text-align: left;
}
.footermiddle {
	width: 60%;
	display: inline-block;
	text-align: center;
}
.footermiddle img {
	width: 3%;
	max-height: 1%;
	display: inline-block;
}
.footerright {
	width: 15%;
	display: inline-block;
	text-align: right;
}
#detailsIdx {
	font-size: 1px;
	color: var(--gpsgreen);
	display: none;
}
/*- used by multiple pages other than index, selectdb, or dbdetails ---- */
.explain {
	font-style: italic;
	margin: 5px;
	padding: 20px;
}

/* smaller devices media query -- phones, etc */

@media only screen and (max-width: 600px) {
body {
	background-color: var(--gpsgreenlight);
}
.mainHeader h1 {
	position: static;
	top: 10%;
	left: 25%;
	margin-top: -0.3em;
	font-size: 1em;
}
.mainHeader img {
	width: 4em;
	height: 2em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.table {
	display:table;
}
ul#mainNav {
	width: 40%;
	margin: 0 auto;
	padding: 0;
	padding-left: 5%;
	background-color: var(--gpsbluetransp);
	color: var(--gpsmarigolddark);
	font-size: 16px;
	text-align: center;
}
ul#mainNav li {
	  display: list-item;
}
ul#mainNav li a:link {
	color: var(--gpsmarigold);
}
ul#mainNav li a:visited {
	color: var(--gpssunshine);
}
ul#mainNav li a:hover {
	background-color: var(--gpsmarigolddark);
}
ul#mainNav li a:active {
	background-color: var(--gpssunshinedark);
	color: var(--gpsmarigolddark);
}
button {
	color: var(--gpssunshine);
	background-color: transparent;
	font-family: "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
    font-size: 16px;
	cursor: pointer;
}
button:hover {
	color: var(--gpssunshine);
	font-weight: bold;
}
button:active {
	font-style: italic;
	font-weight: bold;
}
.nav2 .homeNav li {
	border-color: var(--gpsblue);
	background-color: var(--gpstransp1); 
	color: var(--gpsalmostblack);
}
.nav2 .homeNav li:hover {
	border-color: var(--gpsblue);
	background-color: var(--gpsborderbottomcolor); 
	color: var(--gpsalmostblack);
}
.nav2 .homeNav .dbselect {
	background-color: transparent;
	color: var(--gpsalmostblack);
}

.nav2 .homeNav .dbselect:hover {
	background-color: var(--gpsalmostblack); 
color: var(--gpsborderbottomcolor);
}
.nav2 .homeNav .dbselect:active {
	background-color: var(--gpsalmostblack); 
color: var(--gpssunshine);
}
.nav2 .plantType .homeNav li {
	border-color: var(--gpsgreenleaf)	;
	background-color: var(--gpsalmostblacktransp);	
	color: var(--gpsalmostblack);
}
.nav2 .plantType .homeNav li:hover {
	border-color: var(--gpsgreenleaf)	;
	background-color: var(--gpsmarigold);
	color: var(--gpsalmostblack);
}
.nav2 .plantType .dbselect {
    background-color: var(--gpsgreenleaf);
    color: var(--gpsalmostblack);
}
.nav2 .plantType .homeNav .dbselect:hover {
	background-color: transparent;
	color:  var(--gpsalmostblacktransp);	
}
.nav2 .plantType .homeNav .dbselect:active {
	background-color:  var(--gpsalmostblacktransp);	
	color: var(--gpsmarigold);
}

.dbEntries {
	width: 90%;
	height: 30%;
	overflow: auto;
	margin: 0 auto;
	background-color: var(--gpssunshine);
	color: var(--gpsalmostblack);
}
footer {
	font-weight: normal;
}
.footerleft {
	width: 20%;
	display: inline-block;
	text-align: left;
}
.footermiddle {
	width: 60%;
	display: inline-block;
	text-align: center;
}
.footermiddle img {
	display: none;
}
.footerright {
	width: 15%;
	left: 85%;
	display: inline-block;
	text-align: right;
}

}

/* tablets and large phones  */

@media (min-width: 600px) {
body {
	background-color: var(--gpsmarigolddark);
}
.mainHeader h1 {
	position: static;
	top: 10%;
	left: 25%;
	margin-top: -0.3em;
	font-size: 2em;
}
.mainHeader img {
	width: 9em;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#hList {
	width: 90%;
}
.table {
	width: 98%;
}
ul#mainNav {
	width: 100%;
	font-size: 14px;
}
ul#mainNav li a:link {
	background-color: var(--gpsblue);
	color: var(--gpsmarigolddark);
}
ul#mainNav li a:visited {
	background-color: var(--gpsblue);
	color: var(--gpsmarigold);
}
ul#mainNav li a:hover {
	color: var(--gpsblue);
	background-color: var(--gpsmarigolddark);
}
ul#mainNav li a:active {
	color: var(--gpsblue);
	background-color: var(--gpsmarigold);
}
button {
	font-size: 14px;
}
.main sectionh2 {
	font-size: 2.5em;
	text-align: center;
}
.main section img {
	float: left;
}
.main section {
	clear: both;
}
.main section img {
	margin-left: 5px;
}

.nav2 .homeNav li {
	border-color: var(--gpsgreen);
	background-color: var(--gpsmarigold); 
	color: var(--gpsblue);
}
.nav2 .homeNav li:hover {
	border-color: var(--gpsgreen);
	background-color: var(--gpshero); 
	color: var(--gpsalmostblack);
}
.nav2 .homeNav .dbselect {
	background-color: transparent;
	color: var(--gpsalmostblack);
}
.nav2 .homeNav .dbselect:hover {
	background-color: var(--gpsalmostblack); 
	color: var(--gpsgreenlight);
}
.nav2 .homeNav .dbselect:active {
	background-color: var(--gpsalmostblack); 
	color: var(--gpsgreenleaf);
}
.nav2 .plantType .homeNav li {
border-color: var(--gpsgreen);
	background-color: var(--gpssunshinehighlight);
	color: var(--gpssunshine);
}
.nav2 .plantType .homeNav li:hover {
	border-color: var(--gpsgreen);
	background-color: var(--gpsbluetransp);
	color: var(--gpsalmostblack);
}
.nav2 .plantType .dbselect {
background-color: var(--gpssunshinehighlight);
    color:  var(--gpsalmostblack);
}
.nav2 .plantType .homeNav .dbselect:hover {
	background-color: transparent;
	color: var(--gpsgreenleaf);
}
.nav2 .plantType .homeNav .dbselect:active {
	background-color:  var(--gpsalmostblack);
	color: var(--gpsgreenleaf);
}

footer {
	color: var(--gpsalmostblack);
	font-weight: bold;
}


}

/*  landscape mode */

@media screen and (orientation:landscape) and (min-width:768px) {
body {
	background-color: var(--gpstransp1);
}
.mainHeader h1 {
	position: relative;
	left: 10%;
	margin-top: -1em;
	font-size: 2em;
	top: -1em;
	display: inline;
}
.mainHeader img {
	width: 9em;
	height: auto;
	display: inline;
	margin-left: auto;
	margin-right: auto;
}
ul#mainNav {
	font-size: 14px;
}
button {
	font-size: 14px;
}
.nav2 .homeNav li {
	border-color: var(--gpsmarigolddark);
	background-color: var(--gpsblue);
	color: var(--gpsmarigold);
}
.nav2 .homeNav li:hover {
	border-color: var(--gpsmarigolddark);
	background-color: var(--gpsgreen); 
	color: var(--gpsblue);
}
.nav2 .homeNav .dbselect {
	background-color: transparent;
	color: var(--gpsmarigold);
}
.nav2 .homeNav .dbselect:hover {
	background-color: var(--gpsmarigold);
	color: var(--gpsgreen);
}
.nav2 .homeNav .dbselect:active {
	background-color: var(--gpsmarigold);
	color: var(--gpsgreen);
}
.nav2 .plantType .homeNav li {
	border-color: var(--gpsmarigolddark);
	background-color: var(--gpsbluetransp);
	color: var(--gpssunshine);
}
.nav2 .plantType .homeNav li:hover {
	border-color: var(--gpsmarigolddark);
	background-color: var(--gpssunshinehighlight);
	color: var(--gpsalmostblack);
}
.nav2 .plantType .dbselect {
    background-color: transparent;
	color: var(--gpssunshine);
}
.nav2 .plantType .homeNav .dbselect:hover {
	background-color: var(--gpssunshinehighlight);
	color: var(--gpsalmostblack);
}
.nav2 .plantType .homeNav .dbselect:active {
	background-color:  var(--gpsalmostblack);
	color: var(--gpssunshinehighlight);
}
}
/* laptops and desktops */

@media screen and (min-width:992px) {
body {
	background-color: var(--gpsmarigold);
}
.mainHeader h1 {
	position: relative;
	left: 10%;
	margin-top: -1em;
	font-size: 2.5em;
	top: -1em;
	display: inline;
}
.mainHeader img {
	width: 9em;
	height: auto;
	display: inline;
	margin-left: auto;
	margin-right: auto;
}
ul#mainNav {
	font-size: 18px;
}
button {
	font-size: 18px;
}
.nav2 .homeNav li {
	border-color: var(--gpsgreen); 
	background-color: var(--gpsmarigolddark);
	color: var(--gpsmarigold);
}
.nav2 .homeNav li:hover {
	border-color: var(--gpsgreen); 
	background-color: var(--gpstransp1); 
	color: var(--gpsblue);
}
.nav2 .homeNav .dbselect {
	background-color: transparent;
	color: var(--gpsalmostblack);
}
.nav2 .homeNav .dbselect:hover {
background-color: var(--gpsgreenleaf); 
	color: var(--gpsalmostblack);
}
.nav2 .homeNav .dbselect:active {
background-color: var(--gpsgreenleaf);
color: var(--gpsmarigolddark);
}
.nav2 .plantType .homeNav li {
	border-color: var(--gpsgreen);
	background-color: var(--gpsgreenlight);
	color: var(--gpsgreenleaf);
}
.nav2 .plantType .homeNav li:hover {
	border-color: var(--gpsgreen);
	background-color: var(--gpsblue);
	color: var(--gpsgreen);
}
.nav2 .plantType .dbselect {
    background-color: var(--gpsgreenlight);
    color: var(--gpsgreenleaf);
}
.nav2 .plantType .homeNav .dbselect:hover {
	background-color: var(--gpsblue);
	color: var(--gpsgreenleaf);
}
.nav2 .plantType .homeNav .dbselect:active {
	background-color:  var(--gpsblue);
	color: var(--gpsgreenleaf);
}

}

/* extra large monitors */

@media screen and (min-width:1200px) {
body {
	background-color: var(--gpsgreen);
}
.mainHeader h1 {
	position: relative;
	left: 10%;
	margin-top: -1em;
	font-size: 2em;
	top: -1em;
	display: inline;
}
.mainHeader img {
	width: 9em;
	height: auto;
	display: inline;
	margin-left: auto;
	margin-right: auto;
}
ul#mainNav {
	font-size: 20px;
}
button {
	font-size: 20px;
}
.nav2 .homeNav li {
	border-color: var(--gpsmarigolddark);
	background-color: var(--gpsgreen);
	color: var(--gpsmarigold);
}
.nav2 .homeNav li:hover {
	border-color: var(--gpsmarigolddark);
	background-color: var(--gpsmarigold);
}	
.nav2 .homeNav .dbselect {
	background-color: var(--gpsgreen);
	color: var(--gpsmarigold);
}
.nav2 .homeNav .dbselect:hover {
	background-color: var(--gpsgreen);
	color: var(--gpsmarigolddark);
}
.nav2 .homeNav .dbselect:active {
	background-color: var(--gpsgreen);
	color: var(--gpsgreenlight);
}
/* 5 */

.inp#plantDetails:hover {
	border: 1px solid var(--gpsgreenlight);
	background-color: var(--gpsblue);
	color:  var(--gpssunshinedark);
	font-weight: bold;
}
.inp#plantDetails:active {
	border: 1px solid pink;
	background: var(--gpstransp1);
}

.nav2 .plantType .homeNav li {
	border-color: var(--gpsmarigolddark);
	background-color: var(--gpsgreenleaf);
	color: var(--gpsgreen);
}
.nav2 .plantType .homeNav li:hover {
	border-color: var(--gpsmarigolddark);
	background-color: var(--gpsgreenlight);
	color: var(--gpsgreen);
}
.nav2 .plantType .dbselect {
    background-color: var(--gpsgreenleaf);
    color: var(--gpsgreen);
}
.nav2 .plantType .homeNav .dbselect:hover {
	background-color: var(--gpsgreenleaf);
	color: var(--gpsblue);
}
.nav2 .plantType .homeNav .dbselect:active {
	background-color:  var(--gpsblue);
	color: var(--gpsgreenleaf);
}


footer {
	color: var(--gpssunshine);
}
}
